@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.App {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page{
  display: flex;
}

.page-wrapper{
  flex-grow: 1;
}

//*,*:before, *:after{
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//  user-select: none;
//}
//html, body, #root{
//  width: 100vw;
//  height: 100vh;
//  overflow: hidden;
//}
//.App{
//  .--theme_0{
//    background-color: $Theme0_bg_1;
//    color: $Theme0_color_1;
//    border-color: $Theme0_color_1;
//  }
//  .--theme_1{
//    background-color: $Theme1_bg_1;
//    color: $Theme1_color_1;
//    border-color: $Theme1_color_1;
//  }
//}
//
//#root{
//  //background-color: $Main_c_4;
//}
//#root:hover{
//  //background-color: $Main_c_4_hover;
//}
//#root:active{
//  //background-color: $Main_c_4_active;
//}