@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

@font-face {
    font-family: consolas;
    font-weight: normal;
    src: url("shared/assets/fonts/Consolas/Consolas.woff") format("woff");
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    overflow: hidden;
}

.App {
    font: var(--font-m);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
}
