.SideBar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--bg-color-inverted);
    transition-property: width;
    transition-duration: 0.2s;
    color: var(--primary-color-inverted);
}

.items {
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .items {
        margin-left: 20px;
    }
}
