.SideBarItem {
    display: flex;
    align-items: center;
    transition: 0.3s all;
    box-shadow: 0 0 3px var(--bg-color);
    margin-right: 4px;
    overflow: hidden;
    width: calc(var(--sidebar-width) - 20px);
}

.activeItem {
    box-shadow: 0 0 1px 2px var(--bg-color);
}

.link {
    opacity: 1;
    overflow: hidden;
    white-space: nowrap;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
        height: 0;
    }

    width: 32px;
}

.icon {
    fill: var(--primary-color-inverted);
    margin-right: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}
