.App.dark{
  --bg-color: rgb(0 31 103 / 71%);
  --bg-color-inverted: rgb(182 231 255 / 71%);
  --primary-color: #d7a501;
  --secondary-color: #ded300;
  --primary-color-inverted: #424242;
  --secondary-color-inverted: #595959;
}