:root {
    --bg-color: rgb(182 231 255 / 71%);
    --bg-color-inverted: rgb(0 31 103 / 71%);
    --primary-color: #424242;
    --secondary-color: #595959;
    --primary-color-inverted: #d7a501;
    --secondary-color-inverted: #ded300;
}
