.NavBar{
  height: var(--navbar-height);
  background-color: var(--bg-color-inverted);
  color: var(--primary-color-inverted);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  display: flex;
  gap: 8px;
}