$colorOn: rgb(60 204 119 / 71%);
$colorOff: #5e5d5d;

.Switch {
    display: flex;
    height: 26px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    padding: 2px 4px;
    width: fit-content;
    cursor: pointer;

    &.active {
        background-color: $colorOff;

        .sw_item.active {
            background-color: $colorOn;
        }
    }

    &.inactive {
        background-color: $colorOn;

        .sw_item.active {
            background-color: $colorOff;
        }
    }

    .sw_item {
        width: 20px;
        height: 20px;
        border: 1px solid transparent;
        border-radius: 50%;

        &.active {
            border-color: white;
        }

        &.inactive {
            border-color: transparent;
        }
    }
}
